In [1]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(10, 5),
                  columns=list('abcde'))

In [2]:
df.query('(a < b)')

          a         b         c         d         e
0 -1.305238  2.191929  0.197548 -0.207089 -0.097090
1  0.217915  1.656577  2.104483 -0.957284 -2.023986
3  0.545118  1.775559  0.326439  1.088077  0.525228
4 -1.710945 -1.200289  0.679224  0.932151 -1.754120
7 -0.652386  0.270502 -0.424070 -0.540425  0.671864

In [7]:
df.query('(a < b) & (b < c)')

     a    b    c    d    e
1  0.2  1.7  2.1 -1.0 -2.0
4 -1.7 -1.2  0.7  0.9 -1.8

In [4]:
df.query('(a < b) | (b < c)')

          a         b         c         d         e
0 -1.305238  2.191929  0.197548 -0.207089 -0.097090
1  0.217915  1.656577  2.104483 -0.957284 -2.023986
2  2.423130 -1.403169 -0.059754 -0.278939  0.838797
3  0.545118  1.775559  0.326439  1.088077  0.525228
4 -1.710945 -1.200289  0.679224  0.932151 -1.754120
5  0.415929 -1.540232  0.341976  0.455350 -1.726258
6 -0.029361 -1.006857 -0.287616  1.808215 -1.004131
7 -0.652386  0.270502 -0.424070 -0.540425  0.671864
8  1.207407 -0.982619  0.351063 -0.063503 -1.524581
9  1.103202 -0.990233  0.496134  0.612185  0.494470

In [8]:
df2 = df.round(1)

In [11]:
df.query('c == 0.2')

     a    b    c    d    e
0 -1.3  2.2  0.2 -0.2 -0.1

In [13]:
df.query('c == [0.2, 0.5]')

     a    b    c    d    e
0 -1.3  2.2  0.2 -0.2 -0.1
9  1.1 -1.0  0.5  0.6  0.5

In [14]:
df.query('c != 0.2')

     a    b    c    d    e
1  0.2  1.7  2.1 -1.0 -2.0
2  2.4 -1.4 -0.1 -0.3  0.8
3  0.5  1.8  0.3  1.1  0.5
4 -1.7 -1.2  0.7  0.9 -1.8
5  0.4 -1.5  0.3  0.5 -1.7
6 -0.0 -1.0 -0.3  1.8 -1.0
7 -0.7  0.3 -0.4 -0.5  0.7
8  1.2 -1.0  0.4 -0.1 -1.5
9  1.1 -1.0  0.5  0.6  0.5

In [15]:
df.query('[0.2] in c')

     a    b    c    d    e
0 -1.3  2.2  0.2 -0.2 -0.1