In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame(np.random.randn(10, 4),
                columns=['one', 'two', 'three', 'four'])

In [3]:
for row in df.values:
    switch = np.random.choice([0, 1])
    if switch:
        i = np.random.choice([0, 1, 2, 3])
        row[i] = np.nan

In [6]:
# isnull()
df.isnull()

df['one'].isnull()

df[df['one'].isnull()]
df[~df['one'].isnull()]

        one       two     three      four
0 -0.887821  2.314819 -0.163941  0.884912
1 -0.641949  0.926147  1.797143 -0.878683
2 -1.445353 -0.925733  0.964825 -0.491251
3 -1.428510 -0.630545  0.254478 -0.134223
5 -0.361474 -0.588253  1.205189       NaN
6  0.146668 -0.443365       NaN -1.156099
7  0.765366       NaN -0.430214  0.314313
8  0.859994  1.406161       NaN -1.392446
9 -1.074159  1.456216 -0.194931 -0.455013

In [7]:
# notnull()
df.notnull()
df[df.notnull()]

df['one'].notnull()

        one       two     three      four
0 -0.887821  2.314819 -0.163941  0.884912
1 -0.641949  0.926147  1.797143 -0.878683
2 -1.445353 -0.925733  0.964825 -0.491251
3 -1.428510 -0.630545  0.254478 -0.134223
4       NaN  0.585372 -0.926954  0.083966
5 -0.361474 -0.588253  1.205189       NaN
6  0.146668 -0.443365       NaN -1.156099
7  0.765366       NaN -0.430214  0.314313
8  0.859994  1.406161       NaN -1.392446
9 -1.074159  1.456216 -0.194931 -0.455013

In [8]:
df['five'] = np.nan

In [ ]:
del df['four']